#logout-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999; 
}
#User-overview{
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 999; 
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}